{% extends 'base.html' %}

{% block 'content' %}

    <div class="container">

        <div class="content-header">
            <div class="row">
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Dépenses</a></li>
                            <li class="breadcrumb-item active">Modifier</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {% include 'partials/_messages.html' %}
                <form action="{% url 'edit-expense' expense.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Montant</label>
                        <input type="text" class="form-control form-control-sm" name="amount" value={{values.amount}}>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm" name="description" value={{values.description}}>
                    </div>
                    <div class="form-group">
                        <label for="">Catégorie</label>
                        <select class="form-control" name="category">
                            <option selected name="category" value="{{values.category}}">{{values.category}}</option>
                            {% for category in categories %}
                                <option name="category" value="{{category.name}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Date de sortie</label>
                        <input type="date" class="form-control form-control-sm" name="expense_date" >
                    </div>

                    <input type="submit" class="btn btn-primary btn-primary-sm" value="Enregistrer">
                </form>
            </div>
        </div>

    </div>

{% endblock 'content' %}
