{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <div class="container">
        {% include 'partials/_messages.html' %}
        <div class="content-header">
                <div class="row">
                    <div class="col-md-10 d-flex ml-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Dépenses</a></li>
                                <li class="breadcrumb-item active">Mes sorties d'argent</li>
                            </ol>
                        </nav>
                    </div>
                </div>
        </div>

        <canvas id="myChart"></canvas>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

    </div>

    <script src="{% static 'js/stats.js' %}"></script>

{% endblock 'content' %}
