{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="{% url 'expenses' %}" class="brand-link">
        <img src="{% static 'img/logo.png' %}" alt="Portefeuille" class="brand-image elevation-3">
        <span class="brand-text font-weight-light">Portefeuille</span>
    </a>

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/chat.jpg' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="https://ci.linkedin.com/in/emaus-kouakou-5a36131b9" class="d-block">The Coder</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="{% url 'expenses' %}" class="nav-link">
                        <p>
                            Dépenses
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'incomes' %}" class="nav-link">
                        <p>
                            Gains
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'budgets' %}" class="nav-link">
                        <p>
                            Budgets
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'resume' %}" class="nav-link">
                        <p>
                            Résumé (caisse)
                        </p>
                    </a>
                </li>

                <li class="nav-header text-cyan">Statistiques</li>
                <li class="nav-item">
                    <a href="{% url 'stats' %}" class="nav-link">
                        <p>
                            Statistiques Dépenses
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'stats-income' %}" class="nav-link">
                        <p>
                            Statistiques Gains
                        </p>
                    </a>
                </li>

                <li class="nav-header text-cyan">Paramètres</li>
                <li class="nav-item">
                    <a href="{% url 'preferences' %}" class="nav-link">
                        <p>
                            Général
                        </p>
                    </a>
                </li>
                {% comment %} <li class="nav-item">
                    <a href="pages/gallery.html" class="nav-link">
                        <p>
                            Compte 
                        </p>
                    </a>
                </li> {% endcomment %}
            </ul>
        </nav>

    </div>

</aside>