{% extends 'base_auth.html' %}

{% load static %}

{% block 'content' %}

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">

                <div class="card-title py-2">
                    <h4>Inscription</h4>
                </div>

                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}

                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" value="{{fieldValues.username}}" name="username" id="username" placeholder="Nom d'utilisateur"/> 
                    </div>
                    <div class="invalid_feedback invalid-feedback" style="display:none">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-sm" value="{{fieldValues.email}}" name="email" id="email" placeholder="Email"/> 
                    </div>
                    <div class="emailFeedBackArea invalid-feedback" style="display:none">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-sm" name="password" id="password" placeholder="Mot de Pass"/> 
                        <small class="float-right py-2 showPasswordToggle">voir<i class="fa-solid fa-eye"></i></small>
                    </div>

                    <input type="submit" value="Inscription" class="btn btn-block btn-primary submit-btn" />
                </form>

            </div>

            <span class="text-center font-italic mb-2">Vous avez-déjà un compte ? <a href="{% url 'login' %}" >Connectez-vous</a></span>
            {% comment %} <span class="text-center">Mot de pass oublié ? <a href="{% url 'request-password' %}" >Reinitialiser le</a></span> {% endcomment %}

        </div>
    </div>
    <div class="col-md-4">
    </div>

    <script src="{% static 'js/register.js' %}"></script>

{% endblock %}

