{% extends 'base_auth.html' %}

{% load static %}

{% block 'content' %}

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">

                <div class="card-title py-2">
                    <h4>Veuillez saisir votre e-mail pour obtenir le link de reinitialition du mot de pass</h4>
                </div>

                <form action="{% url 'request-password' %}" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}

                    <div class="form-group">
                        <input type="email" class="form-control form-control-sm" value="{{values.email}}" name="email" id="email" placeholder="Email"/> 
                    </div>

                    <input type="submit" value="Valider" class="btn btn-block btn-primary submit-btn" />
                </form>

            </div>

            <span class="text-center font-italic mb-2">Vous avez-déjà un compte ? <a href="{% url 'login' %}" >Connectez-vous</a></span>
            <span class="text-center">Vous n'avez pas de compte ? <a href="{% url 'register' %}" >Inscrivez-vous</a></span>

        </div>
    </div>
    <div class="col-md-4">
    </div>

    <script src="{% static 'js/register.js' %}"></script>

{% endblock %}

