{% extends 'base_auth.html' %}

{% load static %}

{% block 'content' %}

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="card mt-5">

            <div class="card-body">

                <div class="card-title py-2">
                    <h4>Saisir votre nouveau mot de pass</h4>
                </div>

                <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}

                    <div class="form-group">
                        <input type="password" class="form-control form-control-sm" name="password" id="password" placeholder="Mot de Pass"/> 
                        <small class="float-right py-2 showPasswordToggle">voir<i class="fa-solid fa-eye"></i></small>
                    </div>

                    
                    <div class="form-group">
                        <input type="password" class="form-control form-control-sm" name="password2" id="password" placeholder="Confirmer Mot de Pass"/> 
                        <small class="float-right py-2 showPasswordToggle">voir<i class="fa-solid fa-eye"></i></small>
                    </div>

                    <input type="submit" value="Valider" class="btn btn-block btn-primary submit-btn" />
                </form>

            </div>

        </div>
    </div>
    <div class="col-md-4">
    </div>

    <script src="{% static 'js/register.js' %}"></script>

{% endblock %}

