{% extends 'base.html' %}

{% block 'content' %}

    <div class="container">

        <div class="content-header">
            <div class="row">
                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'budgets' %}">Budget</a></li>
                            <li class="breadcrumb-item active">Elements</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {% include 'partials/_messages.html' %}
                <form action="{% url 'create-elements' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Designation</label>
                        <input type="text" class="form-control form-control-sm" name="designation" value={{values.designation}}>
                    </div>
                    <div class="form-group">
                        <label for="">Prix Unitaire</label>
                        <input type="text" class="form-control form-control-sm" name="prix_unitaire" value={{values.prix_unitaire}}>
                    </div>
                    <div class="form-group">
                        <label for="">Quantite</label>
                        <input type="number" class="form-control form-control-sm" name="quantite" value={{values.quantite}}>
                    </div>
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control form-control-sm" name="description" value={{values.description}} >
                    </div>
                    <select class="form-control" name="budget">
                        {% for budget in budgets %}
                            <option name="budget" value="{{budget.id}}">{{budget.titre}}</option>
                        {% endfor %}
                    </select>

                    <input type="submit" class="btn btn-primary btn-primary-sm" value="Valider">
                </form>
            </div>
        </div>

    </div>

{% endblock 'content' %}
