{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <div class="container">
        {% include 'partials/_messages.html' %}
        <div class="content-header">
                <div class="row">
                    <div class="col-md-8 d-flex ml-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'budgets' %}">Budget</a></li>
                                <li class="breadcrumb-item active">Mes Budgets</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-2 ">
                        <a href="{% url 'create-budgets' %}" class="btn btn-sm btn-primary">Ajouter Budget</a>
                    </div>
                    <div class="col-md-2 ">
                        <a href="{% url 'create-elements' %}" class="btn btn-sm btn-success">Ajouter Element</a>
                    </div>
                </div>
        </div>


        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" id="searchField" placeholder="Recherche..." />
                </div>
            </div>
        </div>
        {% if budgets.count %}
            
            <div class="app-table">
                <table class="table table-stripped table-hover" >
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Elements</th>
                            <th scope="col">Total</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for budget in page_obj %}
                            <tr>
                                <td>{{budget.titre}}</td>
                                <td><p>Cliquer pour voir les détails</p><a href="{% url 'show' budget.id %}"> Ce budget contient :
                                    {% for depense in depenses %}
                                        {% if depense.budget.id == budget.id %} 
                                            {{depense.designation}} - 
                                        {% endif %}
                                    {% endfor %}
                                </a></td>
                                <td>{{budget.total}}</td>
                                <td>{{budget.date}}</td>
                                <td>
                                    <a href="{% url 'edit-budget' budget.id %}" data-toogle="tooltip" class="btn btn-sm btn-outline-warning" data-placement="bottom" >Modifier</a>
                                    <a href="{% url 'delete-budget' budget.id %}" data-toogle="tooltip" class="btn btn-sm btn-outline-danger" data-placement="bottom">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p class="no-results" style="display: none;">Aucun résultat</p>

            <div class="table-output">
                <table class="table table-stripped table-hover" >
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Total</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
    
                    <tbody class="table-body">
                        
                    </tbody>
                </table>
            </div>

            <div class="pagination-container">
                <div class="">
                    Page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li>
                                <a class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
                            </li>
                        {% endif %}
                        
                    
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}} &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% else %}

            <span class="text-info">Aucune Donnée, Veuillez en ajouter...</span>
        {% endif %}

    </div>

    <script src="{% static 'js/searchBudgets.js' %}"></script>

{% endblock 'content' %}
