{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    <div class="container">
        {% include 'partials/_messages.html' %}
        <div class="content-header">
                <div class="row">
                    <div class="col-md-10 d-flex ml-auto">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'incomes' %}">Gains</a></li>
                                <li class="breadcrumb-item active">Mes Entrée d'argent</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-2 big">
                        <a href="{% url 'create-incomes' %}" class="btn btn-primary">Ajouter</a>
                    </div>
                </div>
        </div>


        <div class="row">
            <div class="col-md-8">
                <a href="{% url 'export-excel-gain' %}" class="btn btn-sm btn-outline-primary">Telecharger (Excel)</a>
                {% comment %} <a href="{% url 'export-csv' %}" class="btn btn-sm btn-outline-warning">Telecharger (CSV)</a> {% endcomment %}
                {% comment %} <a href="{% url 'export-pdf' %}" class="btn btn-sm btn-outline-warning">Telecharger (PDF)</a> {% endcomment %}
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="form-control" id="searchField" placeholder="Recherche..." />
                </div>
            </div>
        </div>

        <span class="text-primary text-bold">Total des Gains : {{total}}</span>
        {% if incomes.count %}
            
            <div class="app-table">
                <table class="table table-stripped table-hover" >
                    <thead>
                        <tr>
                            <th scope="col">Montant ({{currency}})</th>
                            <th scope="col">Source</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for income in page_obj %}
                            <tr>
                                <td>{{income.amount}}</td>
                                <td>{{income.source}}</td>
                                <td>{{income.description}}</td>
                                <td>{{income.date}}</td>
                                <td>
                                    <a href="{% url 'edit-income' income.id %}" data-toogle="tooltip" class="btn btn-sm btn-outline-warning" data-placement="bottom" >Modifier</a>
                                    <a href="{% url 'delete-income' income.id %}" data-toogle="tooltip" class="btn btn-sm btn-outline-danger" data-placement="bottom">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p class="no-results" style="display: none;">Aucun résultat</p>

            <div class="table-output">
                <table class="table table-stripped table-hover" >
                    <thead>
                        <tr>
                            <th scope="col">Montant ({{currency}})</th>
                            <th scope="col">Source</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
    
                    <tbody class="table-body">
                        
                    </tbody>
                </table>
            </div>

            <div class="pagination-container">
                <div class="">
                    Page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li>
                                <a class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
                            </li>
                        {% endif %}
                        
                    
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages}} &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        {% else %}

            <span class="text-info">Aucune Donnée, Veuillez en ajouter...</span>
        {% endif %}

    </div>

    <script src="{% static 'js/searchIncomes.js' %}"></script>

{% endblock 'content' %}
