{% load static %}
<html lang="en">
    <head>
        {% include 'partials/_head.html' %}
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">


            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Compte</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                                <li class="breadcrumb-item active">Compte</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>


            <div class="content">
                <div class="row">

                    {% block 'content' %}{% endblock %}


                </div>
            </div>



            {% include 'partials/_footer.html' %}

        </div>

        {% include 'partials/_script.html' %}

    </body>
</html>
