{% load static %}
<html lang="en">
    <head>
        {% include 'partials/_head.html' %}
    </head>

    <body class="hold-transition sidebar-mini">
        <div class="wrapper">

            {% include 'partials/_nav.html' %}


            {% include 'partials/_sidebar.html' %}

            <div class="content-wrapper">


                                {% block 'content' %}{% endblock %}


            </div>


            <aside class="control-sidebar control-sidebar-dark">

            </aside>


            {% include 'partials/_footer.html' %}

        </div>

        {% include 'partials/_script.html' %}

    </body>
</html>
